html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family:"Inter"
}

*:not(.fa-solid):not(.fa):not(.e-icons)|{
    font-family:"Inter"
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #fff;
}

/*radio buttons*/
/*////*/
.e-btn-group.custom-rbt-group {
    display:flex;
     
    justify-content: space-around;
    width: 100%;
}

    

    .e-btn-group.custom-rbt-group .e-btn {
        flex: 1;  Makes each button take equal width 
        text-align: center;  Centers text in the button 
        box-shadow: none !important;  Remove shadows 
        border: 1px solid #fff;
        background-color: rgb(34, 43, 51);
        color: #fff;
    }

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}

.widget {
    border-radius: 1rem;
    background-color: #1a222b;
}

.e-grid{
    border:0;
    border-radius:5px;

}


/*////*/
